body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.blue-font{
    color: rgb(6, 156, 243);
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 70%;
}
.about-me-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(42, 177, 240), rgb(42, 135, 223));
    color: white;
    font-weight: 400;
    font-size: 15px;
    padding: 10px 40px;
    border-radius: 5px;
   
}
.corner-circle{
    background-image: url(image/background-element-corner.png);
    background-repeat: no-repeat;
}